<%= render 'shared/errors', obj: @chef %>

<div class= "row">
  <div class="well col-md-8 col-md-offset-2">
  <%= form_for @chef do |f| %>
    <%= f.label(:name, "Your Name") %>
    <%= f.text_field :name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit(@chef.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>
    <% end %>
  </div>
</div>