<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li class="active">
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

    <h2>These are our star cooks!<br/></h2>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= will_paginate %>
  </div>
</div>

<% @chefs.each do |chef| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= link_to gravatar_for(chef, size: 150), chef_path(chef) %>
      <p>
        <h5>Chef name: <%= chef.name %></h5>
      </p>
    </div>
  </div>
<% end %> 
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= will_paginate %>
  </div>
</div>