
<div class="recipe-background">

   <%= render 'shared/page_title', title: "All Recipes" %>

    <h2> These are recipes from our users.<br/></h2>



</div>
<%= will_paginate %>


<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
       <%= gravatar_for recipe.chef, size: 100  %>
       <h5>Chef: <%= recipe.chef.name %></h5>
       
      </section>
      
    </div>
    
    <div class="col-lg-6 well"> 
      <h3><%= link_to recipe.name, recipe_path(recipe) %> </h3>
      <h4><%= link_to recipe.summary %></h4>
      <p>
        <span class="quiet">
          <small>
            Created: <%= time_ago_in_words(recipe.created_at) %> ago.
          </small>
        </span>
         <span class="quiet">
          <small>
            Updated: <%= time_ago_in_words(recipe.updated_at) %> ago.
          </small>
        </span>
    </div>
    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
    </div>
 
    
  </div>  
  <hr/>
<% end %>
<%= will_paginate %>