<br>
<br>

  <%= render 'shared/page_title', title: @recipe.name %>
  
        <h5><%= link_to "Return to Recipes", recipes_path, class: "btn btn-primary btn-md" %> </h5>
  
  <div class="row">
    <div class="col-md-4 pull-right text-center">
      <%= link_to gravatar_for(@recipe.chef, size: 150), chef_path(@recipe.chef) %>
      <p>
        <h4>Brought to you by Chef <%= @recipe.chef.name %></h4>
      </p>
    </div>
    <div class="col-md-8">

        <h3><%= @recipe.summary %></h3>
        
      <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
      </div>
        
      
        
      <div class="well">
        <% if @recipe.styles.any? %>
          <p>Dish Style: <%= render @recipe.styles %></p>
        <% end %>
        
        <% if @recipe.styles.any? %>
          <p>Ingredients: <%= render @recipe.ingredients %></p>
        <% end %>
        
        <p><b>Steps:</b></p>
        <%= simple_format(@recipe.description) %>
      </div>
    </div>
  </div>
    <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
      <h4><%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-left" %></h4>
    <% end %>    

    <% if current_user.admin? %>
      <%= link_to "Delete Recipe", @recipe, method: :delete, class: "btn btn-danger pull-left", data: {confirm: "Are you sure that you want to delete this recipe?"} %>
    <% end %>