<body class ="image responsive home-bg">
  
  <div class ="img-responsive home">

     <div class="white jumbotron text-center home">
    
    <% if logged_in? %>
      <h1> Show your cooking genius! </h1>
        <h2> Share your recipes with our hungry community.<br/></h2>
          <container>
            <%= link_to "New Recipe", new_recipe_path, class: "btn btn-lg btn-success" %>
          </container>
    <% else %>
      <h1> Fingerlicking Good </h1>
      <br/>
      
      <h2> Food is better shared.</h2>
      <br/>
        <container>
          <%= link_to "Join Now", register_path, class: "btn btn-lg btn-warning" %>
        </container>
    <% end %>
        <!--<p class="small-sandra">Find Out Why</p>-->
        

    </div>
    
    
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-1 well text-center">
          <h2 class="midrow">Just want to browse?</h2>

          <%= link_to "Browse All Recipes", recipes_path, class: "btn btn-primary btn-small" %>
        </div>
        
        <div class="col-md-2">
              
        </div>
        
       <% if logged_in? %>  
       
        <div class="col-md-4 offset-right-1 well">
          <h2 class="midrow">Manage Your Recipes</h2>

          <%= link_to "Your Recipes", chef_path(current_user), class: "btn btn-primary btn-small" %>
        </div>
        
       
        
        <% else %>
        
        <div class="col-md-4 offset-right-1 text-center well">
          <h2 class="midrow">Log in to Your Account</h2>

          <%= link_to "Log In", login_path, class: "btn btn-success btn-small" %>
        </div>
      </div>

      <div class="col-md-12-hide">
            ...
      </div>
      
      <% end %>
      


    </div>
  </div>
</body>