<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <!--<%= link_to "My Recipes", "", class: "btn btn-default btn-primary", id: "logo" %>-->
    <%= link_to image_tag("cook_vegetarian_logo2.png"), id: "logo" %>
      <div class="nav_item">
        <%= link_to "Contact", "", class: "btn btn-large btn-success" %>
      </div>
      
      <div class="nav_item">
        <%= link_to "About", "", class: "btn btn-large btn-success" %>
      </div>
      
      <div class="nav_item">
        <%= link_to "Blog", "", class: "btn btn-large btn-success" %>
      </div>
  </div>
</header>
