<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      
      <!--Responsive navbar-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
      <!--Logo-->
      <%= link_to root_path, class: 'navbar-brand', id: "logo" do %>
       Mrs. Green
      <% end %>
    </div>
    
    <!--Logo contents right-side-->
    <div class="collapse navbar-collapse" id="navbar">
      <div class="nav navbar-nav navbar-right">
        
        <!--Ingredients Button-->
        <!--<ul class="nav_ul_item">-->
        <!--  <li class="dropdown">-->
        <!--    <%= link_to '#', class: "btn btn-default btn-default dropdown-toggle", "data-toggle" => "dropdown" do %>-->
        <!--      Ingredients <b class="caret"></b>-->
        <!--    <% end %>-->
        <!--    <ul class="dropdown-menu">-->
        <!--      <% Ingredient.all.each do |ingredient| %>-->
        <!--        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>-->
        <!--      <% end %>-->
        <!--    </ul>-->
        <!--  </li>-->
        <!--</ul>-->
        
        <!--Cuisines Button-->
        <!--<ul class="nav_ul_item">-->
        <!--  <li class="dropdown">-->
        <!--    <%= link_to '#', class: "btn btn-default btn-default dropdown-toggle", "data-toggle" => "dropdown" do %>-->
        <!--      Cuisines <b class="caret"></b>-->
        <!--    <% end %>-->
        <!--    <ul class="dropdown-menu">-->
        <!--      <% Style.all.each do |style| %>-->
        <!--        <li><%= link_to style.name, style_path(style) %></li>-->
        <!--      <% end %>-->
        <!--    </ul>-->
        <!--  </li>-->
        <!--</ul>-->
        
        <% if logged_in? %>
          
          <!--New Recipe Button-->
          <li>
            <%= link_to new_recipe_path do %>
              <span class="glyphicon glyphicon-pencil"></span>&nbsp;New Recipe
            <% end %>
          </li>
          
          <!--Logged In Dropdown Menu-->
          <li class="dropdown">
            <%= link_to '#', class: "dropdown-toggle btn btn-success", id: "user-profile", data:{toggle: 'dropdown'}, role: "button", "aria-expanded" => "false" do %>
              <%= current_user.name %> <b class="caret"></b>
            <% end %>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to chef_path(current_user) do %>
                    <span class="glyphicon glyphicon-user"></span>&nbsp;Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_chef_path(current_user) do %>
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;Settings
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to logout_path do %>
                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
                  <% end %>
                </li>
              </ul>
          </li>
        
        <% else %>
          
          <!--Login Button-->
          <li>
            <%= link_to login_path do %>
              <span class="glyphicon glyphicon-log-in"></span>&nbsp;Login
            <% end %>
          </li>
          
        <% end %>
        
        <!--About Button-->
        <li>
          <%= link_to about_path do %>
            <span class="glyphicon"></span>&nbsp;About
          <% end %>
        </li>
        
        <!--Contact Button-->
        <li>
          <%= link_to contact_path do %>
            <span class="glyphicon"></span>&nbsp;Contact
          <% end %>
        </li>
    
      </div>
    </div>    
  </div>
</nav>