<!DOCTYPE html>
<html>
  <head>
    <title>My Recipes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>
  

   <%= render 'layouts/navigation' %>
   
    <div class="container">
      <!--Flash messages wil pop up here-->
      <%= render 'layouts/messages' %>
      
      <%= yield %>

    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
